@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollable-container {
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  height: 490px;
  overflow-y: scroll;
  scroll-margin-bottom: 5;
  /* SCROLLBAR-FACE-COLOR:   rgb(10,236,209);   //滚动条凸出部分的颜色 
  SCROLLBAR-HIGHLIGHT-COLOR:   rgb(23,255,155);//滚动条空白部分的颜色 
  SCROLLBAR-SHADOW-COLOR:   rgb(255,116,23);//立体滚动条阴影的颜色 
  SCROLLBAR-3DLIGHT-COLOR:   rgb(66,93,127);//滚动条亮边的颜色 
  SCROLLBAR-ARROW-COLOR:   rgb(93,232,255);//上下按钮上三角箭头的颜色 
  SCROLLBAR-TRACK-COLOR:   rgb(255,70,130);//滚动条的背景颜色 
  SCROLLBAR-DARKSHADOW-COLOR:   rgb(10,0,209);//滚动条强阴影的颜 
  SCROLLBAR-BASE-COLOR:   rgb(66,93,128)/滚动条的基本颜色  */
}

.background {
  padding-top: 60px;
  height: 160px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
}

.firstRow {
  height: 500px;
}

.blank {
  height: 50px;
}
